.cache
.DS_STORE
.VSCodeCounter

.idea

/*build*
*.out
docs
__cmake_systeminformation

gen
jack-vm-sources.txt
notes.md
*.S
*.s
*.asm

tests/compiler/jack-code
tests/compiler/diagnostics-engine/tests/*.output*
