.cache
.DS_STORE
.VSCodeCounter
.idea

.idea

/*build*
*.out
docs
__cmake_systeminformation

gen
jack-sources.txt
jack-vm-sources.txt
notes.md
*.S
*.s
*.asm

tests/compiler/jack-code
output.txt
.tmp

tests/stdlib/lib/jackc*
tests/stdlib/build
tests/stdlib/.gradle
tests/stdlib/.kotlin
tests/stdlib/tests/**/*.vm
tests/stdlib/tests/**/*.asm
