function Sys.init 0
    // We will build a list: 10 -> 20 -> 30 -> null
    // Node Structure: [Value (offset 0), Next_Ptr (offset 1)]

    // --- 1. Initialize Node 3 (Tail) ---
    // Value: 30
    push constant 268501008
    push constant 30
    push constant 0
    call Node.init 3
    pop temp 0

    // --- 2. Initialize Node 2 (Middle) ---
    // Value: 20
    push constant 268501000
    push constant 20
    push constant 268501008
    call Node.init 3
    pop temp 0

    // --- 3. Initialize Node 1 (Head) ---
    // Value: 10
    push constant 268500992
    push constant 10
    push constant 268501000
    call Node.init 3
    pop temp 0

    // --- 4. Modify the List (Double all values) ---
    // Pass the head address
    push constant 268500992
    call List.double 1
    pop temp 0

    // --- 5. Calculate Sum ---
    // Expected: (10*2) + (20*2) + (30*2) = 20 + 40 + 60 = 120
    push constant 268500992
    call List.sum 1

label HALT
    goto HALT

// ------------------------------------------------------------------
// Helper to manually write a struct into memory
// ------------------------------------------------------------------
function Node.init 0
    // Arg 0: Memory Address (pointer)
    // Arg 1: Value (int)
    // Arg 2: Next Address (pointer)

    // Set 'this' segment to the specific memory address
    push argument 0
    pop pointer 0

    // Write Value to Address + 0
    push argument 1
    pop this 0

    // Write Next_Ptr to Address + 1
    push argument 2
    pop this 1

    push constant 0
    return

// ------------------------------------------------------------------
// Linked List Logic
// ------------------------------------------------------------------

// Iterates through list and doubles every value in place
function List.double 1
    // Arg 0: Head Pointer
    // Local 0: Current Pointer

    push argument 0
    pop local 0 // current = head

label D_LOOP
    // if current == null (0), exit
    push local 0
    push constant 0
    eq
    if-goto D_END

    // Set 'that' segment to current node
    push local 0
    pop pointer 1

    // Read 'that 0' (value), double it, write back
    push that 0
    push that 0
    add
    pop that 0

    // Advance: current = that 1 (next pointer)
    push that 1
    pop local 0

    goto D_LOOP

label D_END
    push constant 0
    return

// Returns the sum of all values in the list
function List.sum 2
    // Arg 0: Head Pointer
    // Local 0: Current Pointer
    // Local 1: Running Sum

    push argument 0
    pop local 0 // current = head

    push constant 0
    pop local 1 // sum = 0

label S_LOOP
    // if current == null (0), exit
    push local 0
    push constant 0
    eq
    if-goto S_END

    // Set 'that' segment to current node
    push local 0
    pop pointer 1

    // sum = sum + that 0
    push local 1
    push that 0
    add
    pop local 1

    // Advance: current = that 1 (next pointer)
    push that 1
    pop local 0

    goto S_LOOP

label S_END
    push local 1
    return
